.main-content {
    height: auto;
    text-align: left;
    padding: 2rem;
}

.main-content .content-title {
    font-size: 2em;
    color: #413b3b;
}

.main-content .widget-list {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content .widget-list .widget {
    background-color: #fff;
    padding: 1.8rem;
    border-left: 5px solid #1cc98a;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 150px;
    margin-top: 1rem;
}

.main-content .widget-list .widget .title {
    color: #1cc98a;
    font-size: 1.1em;
}

.main-content .widget-list .widget .value {
    font-size: 1.5em;
}

.main-content .widget-list .widget .icon {
    opacity: .3;
}

.main-content .fragment-list {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content .fragment-list .fragment {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    min-width: 150px;
}

.main-content .fragment-list .fragment .title {
    background-color: #f8f9fd;
    color: #5072e0;
    padding: 1rem;
    font-size: 1.4em;
    border-bottom: 2px solid #fff;
}

.main-content .fragment-list .fragment .content {
    padding: 1rem;
}