.main-content {
    height: auto;
    text-align: left;
    padding: 2rem;
}

.main-content .content-title {
    font-size: 2em;
    color: #413b3b;
}

.main-content .widget-list {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content .fragment-list {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content .fragment-list .fragment {
    background-color: #fff;
    border-radius: 4px;
    min-width: 150px;
}

.main-content .fragment-list .fragment .title {
    background-color: #f8f9fd;
    color: #5072e0;
    padding: 1rem;
    overflow: hidden;
    font-size: 1.4em;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content .fragment-list .fragment .content {
    padding: 1rem;
    text-align: center;
}