.widget {
    background-color: #fff;
    padding: 1.8rem;
    border-left: 5px solid #1cc98a;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 200px;
    margin-top: 1rem;
}

.widget .title {
    color: #1cc98a;
    font-size: 1.1em;
}

.widget .value {
    font-size: 1.5em;
}

.widget .icon {
    opacity: .3;
}