body {
  margin: 0;
  height: 100%;
  background-color: #f8f9fd;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: .5s ease-in-out;
  color: black;
}

.default-icon-btn {
  display: flex;
  align-items: center;
  opacity: .4;
}

.default-icon-btn:hover {
  opacity: 1;
}
